footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  align-items: flex-start;
  margin: 1vw 2.5% 2.5% 2.5%;
}

.footer-left-side {
  flex: 3;
}
.footer-left-side nav {
  display: flex;
  justify-content: flex-start;
  gap: 3%;
  margin-bottom: 0.5%;
}

.footer-left-side nav a {
  text-decoration: none;
  color: #444444;
}

#footer-text-bold {
  font-weight: bold;
}

.footer-right-side {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-right-side .social-media {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-right-side .social-media nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-right-side .social-media nav a {
  width: 2vw;
  height: 2vw;
}

.footer-right-side .social-media nav a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* icons' shaped are different so used circle border */
}

.footer-right-side .apps {
  display: flex;
  flex: 2;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 0;
}

.footer-right-side .apps nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; /* Daha iyi hizalama için center kullanıldı */
  gap: 2.5%;
}

.footer-right-side .apps nav a {
  width: 6vw; /* Sabit genişlik */
  height: 6vw; /* Sabit yükseklik */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-right-side .apps nav a img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Resmin tamamını göstermesi için contain kullanıldı */
  border-radius: 5%;
}
