header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 2.5% 2.5% 2.5%;
}

header div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-left a {
  font-weight: bolder;
  color: red;
  text-decoration: none;
}

.header-center nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-center nav a {
  color: black;
  text-decoration: none;
  margin: 0 1vw;
}

.header-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-right {
    gap: 0.4vw;
}


.header-right .search-bar {
    background: none;
    border: none;
    position: absolute;
    transform: translateX(-130%) translateY(10%); /* Birden fazla dönüşümü birleştirin */
    cursor: pointer;
}






.header-right .notification-btn {
    background-color: white;
    border: none;

    transform: scale(1.5);
   

}

.user-profile-link img {
  width: 2vw;
  height: 2vw;
  object-fit: cover;
  border-radius: 20vw;
}

.selected-movie {
  border: 2px solid black;
  margin: 1% 2.5% 2.5% 2.5%;
  padding: 10vw 40vw 10vw 2.5vw;
}

.movie-name {
  font-weight: 900;
  font-size: 3vw;
}

.movie-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.fa-star {
  color: red;
}

.selected-movie .age-restriction {
  border: 0.1vw solid black;
  border-radius: 0.5vw;
  padding: 0.1vw 0.2vw 0.1vw 0.2vw;
  margin: 0 1vw 0 1vw;
}

.selected-movie .duration {
  font-weight: bold;
}

.movie-property {
  font-weight: bold;
  color: red;
}

.movie-properties {
  display: grid;
  grid-template-columns: 5vw 10vw;
  grid-template-rows: repeat(3, auto);
  white-space: nowrap; /* important */
}

.movie-property {
  font-weight: bold; /* Başlıkları vurgula */
}

main h3 {
    margin-left: 2.5%;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
    
}
 
.selected-movie .play-now {
   
  background-color: red;
  padding: 0.5vw 2vw 0.5vw 0.5vw;
  color: white;
  border: 0px;
  border-radius: 0.35vw;
  margin-top: 1vw;

  transform: scale(1.5);
  transform-origin: left;
}

.selected-movie .play-now i {
    padding-right: 0.25vw;
    transform: scale(1.5);
    transform-origin: left;
}

.popular-movies,
.recommended-movies {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
   
    margin: 1% 2.5% 2.5% 2.5%;
}

.popular-movies > div,
.recommended-movies > div {
    border: 2px solid black;
    padding: 3vw 20vw 3vw 0.5vw;
}

h2.movie-name  {
    font-size: 1.5vw;
}

.popular-movies .age-restriction,
.recommended-movies .age-restriction {
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    padding: 0.1vw 0.2vw 0.1vw 0.2vw;
    margin: 0 1vw 0 0;
    
}

.popular-movies .duration,
.recommended-movies .duration {
    font-weight: bold;
}


.popular-movies .play-now, .recommended-movies .play-now{
   
    background-color: red;
    padding: 0.5vw 2vw 0.5vw 0.5vw;
    color: white;
    border: 0px;
    border-radius: 0.35vw;
    margin-top: 0.75vw;
  }
  
  .popular-movies .play-now i, .recommended-movies .play-now i {
      padding-right: 0.25vw;
  }



  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }


.footer-left-side {
    flex: 3;
}



.footer-right-side {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer-right-side  .social-media {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


.footer-right-side  .social-media nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-right-side .social-media nav a {
    width: 2vw; 
    height: 2vw; 
    object-fit: cover; 
    

}



.footer-right-side  .apps {
    display: flex;
    flex: 2;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


.footer-right-side  .apps nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-right-side .apps nav a {
    width: 2vw; 
    height: 2vw; 
    object-fit: cover; 
    

}












